@media only screen and (min-width: 768px) and (max-width: 1070px) {
    .cover-section{
        font-size: 14px;
    }
    .cover-section_items {
        padding: 70px 30px 0 0;
    }

    .cover-section_items img {
        height: 100px;
    }

    .cover-section_items h2 {
        font-size: 20px;
        margin: 0;
        position: relative;
        bottom: 25px;
        left: 170px;
    }
    
    .cover-section_items p {
        font-size: 18px;
        margin-bottom: 20px
    }

    .cover-section_items span {
        font-size: 16px;
    }

    .cover-section_items button {
        width: 140px;
        height: 35px;
        font-size: 14px;
    }

    .cover-section_button select {
        width: 35px;
        height: 50px;
        font-size: 14px;
    }

    .content-section_movies__item {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        justify-items: center;
    }

    .content-section_movies_title {
        font-size: 30px;
        margin: 100px 0 40px 0px;
        padding-left: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 768px) {

}